{% extends 'user/verificateur/base.html' %}
{% block content %}
    {% load static %}
    <div class="relative min-h-screen group-data-[sidebar-size=sm]:min-h-[1500px]">
        <div class="group-data-[sidebar-size=lg]:ltr:lg:ml-vertical-menu group-data-[sidebar-size=lg]:rtl:lg:mr-vertical-menu group-data-[sidebar-size=md]:ltr:ml-vertical-menu-md group-data-[sidebar-size=md]:rtl:mr-vertical-menu-md group-data-[sidebar-size=sm]:ltr:lg:ml-vertical-menu-sm group-data-[sidebar-size=sm]:lg:rtl:mr-vertical-menu-sm pt-[calc(theme('spacing.header')_*_1)] pb-[calc(theme('spacing.header')_*_1)] px-6 group-data-[layout=horizontal]:!mx-auto group-data-[layout=horizontal]:max-w-screen-2xl  group-data-[layout=horizontal]:lg:pt-[calc(theme('spacing.header')_*_1.75)] ">
            <div class="container-fluid">
                <div class="md:flex items-center justify-between pt-6 pb-5">
                    <div>
                        <h6 class="mb-0 text-16 uppercase font-semibold dark:text-white">Verificateur</h6>
                    </div>
                    <div class="shrink-0">
                        <ul class="mb-0 flex items-center gap-4 text-[13px] mt-2 md:mt-0">
                            <li class="before:content-['/'] before:absolute ltr:before:-right-1 rtl:before:-left-2 before:text-gray-600 before:text-[9px] before:top-0 before:bottom-0 before:flex before:items-center relative pr-3 inline-block">
                                <a href="#!" class="text-gray-800 dark:text-white">Dashboard</a></li>
                            <li class="text-gray-600 dark:text-zink-200">Verificateur</li>
                        </ul>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-span-12 2xl:col-span-8">
                        <div class="grid grid-col-2 md:grid-cols-2 lg:grid-cols-3 gap-x-6">
                            <div class="card dark:bg-zink-700">
                                <div class="card-body">
                                    <div class="flex justify-between">
                                        <div>
                                            <p class="text-13 font-normal text-gray-600 dark:text-zink-200">Total des
                                                District</p>
                                            <h4 class="text-16 font-medium mt-2 leading-5">{{ district_count }}</h4>
                                        </div>

                                        <div class="w-12 h-12 bg-blue-50 rounded-full flex justify-center items-center  dark:bg-zink-50">
                                            <i class="bx bxs-user text-[20px] text-blue-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card dark:bg-zink-700">
                                <div class="card-body">
                                    <div class="flex justify-between">
                                        <div>
                                            <p class="text-13 font-normal text-gray-600 dark:text-zink-200">
                                                Total des Eglises</p>
                                            <h4 class="text-16 font-medium mt-2 leading-5">250</h4>
                                        </div>
                                        <div class="w-12 h-12 bg-blue-50 rounded-full flex justify-center items-center  dark:bg-zink-50">
                                            <i class="bx bxs-note text-[20px] text-blue-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card dark:bg-zink-700">
                                <div class="card-body">
                                    <div class="flex justify-between">
                                        <div>
                                            <p class="text-13 font-normal text-gray-600 dark:text-zink-200">
                                                Total des Dimes</p>
                                            <h4 class="text-16 font-medium mt-2 leading-5"></h4>
                                        </div>
                                        <div class="w-12 h-12 bg-blue-50 rounded-full flex justify-center items-center  dark:bg-zink-50">
                                            <i class="bx bxs-message-square-dots text-[20px] text-blue-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="card dark:bg-zink-700">
                                <div class="card-body ">
                                    <div class="flex justify-between items-center">
                                        <h5 class="mb-2 text-gray-700 text-15 font-semibold dark:text-gray-50">
                                            Rapport</h5>
                                    </div>
                                    <hr class="mt-4 mb-6 border-gray-400/30 dark:border-zink-50">
                                    <div class="apex-charts w-full" data-colors='["#ff0000", "#ffc600"]'
                                         id="area-chart" dir="ltr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'user/footer.html' %}
    </div>

{% endblock %}