{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="heading_container heading_center">
                <h2>
                    About <span>Us</span>
                </h2>
                <p>
                    " Honore l'Éternel avec tes biens,
                    et avec les prémices de tout ton revenu :
                    Alors tes greniers seront remplis d'abondance,
                    et tes cuves regorgeront de moût. "
                    Proverbes 3:9-10
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="{% static 'images/about-img.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <h3>
                            service de verificateur
                        </h3>
                        <p>
                            " Honore l'Éternel avec tes biens,
                            et avec les prémices de tout ton revenu :
                            Alors tes greniers seront remplis d'abondance,
                            et tes cuves regorgeront de moût. "
                            Proverbes 3:9-10
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
{% endblock %}