{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="hero_area">
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Burreau  <br>
                                            Vérificateur
                                        </h1>
                                        <p>

                                            "Que chacun donne comme il l’a résolu en son cœur,
                                            sans tristesse ni contrainte;
                                            car Dieu aime celui qui donne avec joie."
                                            2 Corinthiens 9:7
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="{% static 'images/slider-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            Bureau <br>
                                            Vérificateur
                                        </h1>
                                        <p>
                                           	"Entonareo ny fahafolon-karena rehetra ho ao amin'ny trano firaketako,
                                            mba hasian-kanina ao an-tranoko, ary izahao toetra amin'izany Aho,
                                            hoy Jehovah, Tompon'ny maro,
                                            raha tsy hovohàko ny varavaran'ny lanitra ho anareo ka hampidinako fitahiana manana amby ampy ho anareo."
                                            Malakia 3:10
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="{% static 'images/slider-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            BUREAU <br>
                                            VERIFICATEUR
                                        </h1>
                                        <p>
                                            "Honore l'Éternel avec tes biens, et avec les prémices de tout ton revenu:
                                            Alors tes greniers seront remplis d'abondance, et tes cuves regorgeront de moût."
                                            Proverbes 3:9-10
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Login
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="{% static 'images/slider-img.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>

        </section>
    </div>
    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        service de <span>vérificateur</span>
                    </h2>
                    <p>
                        " Honore l'Éternel avec tes biens,
                        et avec les prémices de tout ton revenu :
                        Alors tes greniers seront remplis d'abondance,
                        et tes cuves regorgeront de moût. "
                        Proverbes 3:9-10
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/s1.png' %}" alt="">
                            </div>
                            <div class="detail-box">

                                <p>
                                    " Honore l'Éternel avec tes biens,
                                    et avec les prémices de tout ton revenu :
                                    Alors tes greniers seront remplis d'abondance,
                                    et tes cuves regorgeront de moût. "
                                    Proverbes 3:9-10
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/s2.png' %}" alt="">
                            </div>
                            <div class="detail-box">

                                <p>
                                    " Honore l'Éternel avec tes biens,
                                    et avec les prémices de tout ton revenu :
                                    Alors tes greniers seront remplis d'abondance,
                                    et tes cuves regorgeront de moût. "
                                    Proverbes 3:9-10
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/s3.png' %}" alt="">
                            </div>
                            <div class="detail-box">

                                <p>
                                    " Honore l'Éternel avec tes biens,
                                        et avec les prémices de tout ton revenu :
                                        Alors tes greniers seront remplis d'abondance,
                                        et tes cuves regorgeront de moût. "
                                        Proverbes 3:9-10
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <a href="">
                        View All
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="heading_container heading_center">
                <h2>
                    sérvice de <span>vérificateur</span>
                </h2>
                <p>
                    " Honore l'Éternel avec tes biens,
                        et avec les prémices de tout ton revenu :
                        Alors tes greniers seront remplis d'abondance,
                        et tes cuves regorgeront de moût. "
                        Proverbes 3:9-10
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="{% static 'images/about-img.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <h3>
                            service de verificateur
                        </h3>
                        <p>
                            " Honore l'Éternel avec tes biens,
                        et avec les prémices de tout ton revenu :
                        Alors tes greniers seront remplis d'abondance,
                        et tes cuves regorgeront de moût. "
                        Proverbes 3:9-10
                        </p>

                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end why section -->
    <!-- team section -->
    <section class="team_section layout_padding">
        <div class="container-fluid">
            <div class="heading_container heading_center">
                <h2 class="">
                    Our <span> Team</span>
                </h2>
            </div>

            <div class="team_container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/team-1.jpg' %}" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Joseph Brown
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/team-2.jpg' %}" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Nancy White
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/team-3.jpg' %}" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Earl Martinez
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="box ">
                            <div class="img-box">
                                <img src="{% static 'images/team-4.jpg' %}" class="img1" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Josephine Allard
                                </h5>
                                <p>
                                    Marketing Head
                                </p>
                            </div>
                            <div class="social_box">
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end team section -->
{% endblock %}